<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../static/index.css">
  <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
  <title>オセロ</title>
</head>
<body>
  <div>
    <label id="notice">お知らせ
      <input type="text" id="notice" readonly="readonly" value="プレイ中">
    </label>
  </div>
  <table id='tbl1'>
    <tbody>
      <tr>
        <td class="cell" id='a1'></td>
        <td class="cell" id='a2'></td>
        <td class="cell" id='a3'></td>
        <td class="cell" id='a4'></td>
        <td class="cell" id='a5'></td>
        <td class="cell" id='a6'></td>
        <td class="cell" id='a7'></td>
        <td class="cell" id='a8'></td>
      </tr>
      <tr>
        <td class="cell" id='b1'></td>
        <td class="cell" id='b2'></td>
        <td class="cell" id='b3'></td>
        <td class="cell" id='b4'></td>
        <td class="cell" id='b5'></td>
        <td class="cell" id='b6'></td>
        <td class="cell" id='b7'></td>
        <td class="cell" id='b8'></td>
      </tr>
      <tr>
        <td class="cell" id='c1'></td>
        <td class="cell" id='c2'></td>
        <td class="cell" id='c3'></td>
        <td class="cell" id='c4'></td>
        <td class="cell" id='c5'></td>
        <td class="cell" id='c6'></td>
        <td class="cell" id='c7'></td>
        <td class="cell" id='c8'></td>
      </tr>
      <tr>
        <td class="cell" id='d1'></td>
        <td class="cell" id='d2'></td>
        <td class="cell" id='d3'></td>
        <td class="cell" id='d4'>●</td>
        <td class="cell" id='d5'>◯</td>
        <td class="cell" id='d6'></td>
        <td class="cell" id='d7'></td>
        <td class="cell" id='d8'></td>
      </tr>
      <tr>
        <td class="cell" id='e1'></td>
        <td class="cell" id='e2'></td>
        <td class="cell" id='e3'></td>
        <td class="cell" id='e4'>◯</td>
        <td class="cell" id='e5'>●</td>
        <td class="cell" id='e6'></td>
        <td class="cell" id='e7'></td>
        <td class="cell" id='e8'></td>
      </tr>
      <tr>
        <td class="cell" id='f1'></td>
        <td class="cell" id='f2'></td>
        <td class="cell" id='f3'></td>
        <td class="cell" id='f4'></td>
        <td class="cell" id='f5'></td>
        <td class="cell" id='f6'></td>
        <td class="cell" id='f7'></td>
        <td class="cell" id='f8'></td>
      </tr>
      <tr>
        <td class="cell" id='g1'></td>
        <td class="cell" id='g2'></td>
        <td class="cell" id='g3'></td>
        <td class="cell" id='g4'></td>
        <td class="cell" id='g5'></td>
        <td class="cell" id='g6'></td>
        <td class="cell" id='g7'></td>
        <td class="cell" id='g8'></td>
      </tr>
      <tr>
        <td class="cell" id='h1'></td>
        <td class="cell" id='h2'></td>
        <td class="cell" id='h3'></td>
        <td class="cell" id='h4'></td>
        <td class="cell" id='h5'></td>
        <td class="cell" id='h6'></td>
        <td class="cell" id='h7'></td>
        <td class="cell" id='h8'></td>
      </tr>
    </tbody>
  </table>
  <input type="button" id="reverse" value="トップページに戻る" onclick="location.href='toppage.html'">
  <!--スクリプトは別ファイルに分離しました-->
  <script type="text/javascript" src="../static/index.js" defer></script>

<!--   <script>
    var turn = 0
    var user1_data = document.getElementsByClassName("user1")
    //  console.log(cell_data)
    for(i=0; i<user1_data.length;i++){
      document.getElementById(user1_data[i].id).innerHTML = "<h1>●</h1>"
    } 

    var user2_data = document.getElementsByClassName("user2")
    for(i=0; i<user2_data.length;i++){
      document.getElementById(user2_data[i].id).innerHTML = "<h1>○</h1>"
    }

    $("#tbl1 td").bind('click', function(){
        turn = (turn + 1) % 2
        $tag_td = $(this)[0];
        $tag_tr = $(this).parent()[0];
        console.log("%s, %s", $tag_tr.rowIndex, $tag_td.cellIndex);

        var change_tbl = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h']
        var cell_name = change_tbl[$tag_tr.rowIndex].concat($tag_td.cellIndex+1)
        sharp_cell_name = "#".concat(cell_name)
        $(sharp_cell_name).removeClass('none');
        $(sharp_cell_name).addClass('changed');
        /* $(cell_name).append("<h1>●</h1>") */
        if (turn == 0){
          document.getElementById(cell_name).innerHTML = "<h1>●</h1>"
        }else{
          document.getElementById(cell_name).innerHTML = "<h1>○</h1>"
        }

        var user1_data = document.getElementsByClassName("user1")
        //  console.log(cell_data)
        for(i=0; i<user1_data.length;i++){
          document.getElementById(user1_data[i].id).innerHTML = "<h1>●</h1>"
        } 

        var user2_data = document.getElementsByClassName("user2")
        for(i=0; i<user2_data.length;i++){
          document.getElementById(user2_data[i].id).innerHTML = "<h1>○</h1>"
        }

        var all_data = document.getElementsByTagName("td")
        var data = []
        for(i=0; i<all_data.length; i++){
          if(all_data[i].className == "none"){
            data.push(-1)
          }else if(all_data[i].className == "user1"){
            data.push(0)
          }else{
            data.push(1)
          }
        }

        console.log(data)
        // [1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, 0, 1, -1, -1, -1, -1, -1, -1, 1, 0, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1]

    });
 </script> -->

</body>
</html>
