<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <title>CONTESY 2020-06 Koyama-asami</title>
    <link rel="stylesheet" type="text/css" href="../static/main.css">
    <script type="text/javascript" src="../static/main.js" defer></script>
  </head>
  <body>
    <h1>オセロゲーム</h1>
    <!-- オセロ盤面を表示 -->
    <table id="othero">　</table>
    <!-- ターンの表示  -->
    <p id="view_tarn"></p>
    <!-- 初期化ボタン -->
    <button type="button" id="ban_init" onclick="ban_init()">初期化</button>
  </body>
</html>
