<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
    
    <link rel="preconnect" href="https://fonts.googleapis.com"> 
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
    <link href="https://fonts.googleapis.com/css2?family=Monsieur+La+Doulaise&family=Mrs+Saint+Delafield&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../static/index.css">
    <title>oop2-othello</title>
</head>
<header><div class="heading07" data-en="Reversi">Othello Game</div></header>
<body>
    <div class="cp_iptxt">
    <label class="ef" for="your_name"></label>
    <input type="text" id="your_name" size="20" style="width: 200px; height: 40px;" maxlength="10" name="name" value="" placeholder="名前を入力">
    <!-- <select id="selectPlayer">
        <option value="1">白(先手)</option>
        <option value="2">黒(後手)</option>
    </select> -->
    </div>

    <div class="button">
        <a href="#" class="battle">対人戦</a>
    </div>

    <div class="popup_wrap">
        <input id="trigger" type="checkbox">
        <div class="popup_overlay">
            <label for="trigger" class="popup_trigger"></label>
            <div class="popup_content">
                <label for="trigger" class="close_btn">×</label>
                    <p>難易度を選択</p>
                    <button class="cp_btn" id="easy">弱い</button>
                    <button class="cp_btn" id="normal">普通</button>
                    <button class="cp_btn" id="herd">強い</button>
            </div>
        </div>
        <label for="trigger" class="button">CPU戦</label>
    </div>
</body>
<footer>
    <div id="button">footer</div>
    <div id="container">
        <div id="cont">
            <div class="copyright">
                <p>©oop2-6.2021.</p>
            </div>
            <div class="sns">
                <a href="#" class="insta"><i class="fa fa-instagram fa-fw" aria-hidden="true"></i></a>
                <a href="#" class="tw"><i class="fa fa-twitter fa-fw" aria-hidden="true"></i></a>
                <a href="#" class="fb"><i class="fa fa-facebook fa-fw" aria-hidden="true"></i></a>
            </div>
        </div>
    </div>
</footer>
<script>
    var url="/othello";
    var cpu_url="/cpu"
    function gameStart() {
        document.location.href = url + "?level=&your_name=" + encodeURIComponent(document.getElementById("your_name").value);
    }
    function gameStartVScpu(level) {
        document.location.href = cpu_url + "?level=&your_name=" + encodeURIComponent(document.getElementById("your_name").value);
    }

    /* 名前入力用 */
    var namearray = ["ゲレゲレ","ボロンゴ","プックル","チロル","アンドレ","リンクス","モモ","ソロ","ビビンバ","ギコギコ"];
    var ran = choose_at_random(namearray);
    console.log(ran)
    function choose_at_random(arrayData) {
            var arrayIndex = Math.floor(Math.random() * arrayData.length);
            return arrayData[arrayIndex];
        }

    document.getElementsByClassName("battle")[0].onclick = function(){
        if(document.getElementById("your_name").value){
            gameStart();
        }else{
            document.getElementById("your_name").value = ran;
            gameStart();
        }
    };


    document.getElementsByClassName("cp_btn")[0].onclick = function(){
        if (document.getElementById("your_name").value == "") {
            document.getElementById("your_name").value = ran;
            gameStartVScpu("easy");
        } else if (document.getElementById("your_name").value) {
            gameStartVScpu("easy");
        }
    };
    document.getElementsByClassName("cp_btn")[1].onclick = function(){
        if (document.getElementById("your_name").value == "") {
            document.getElementById("your_name").value = ran;
            gameStartVScpu("normal");
        } else if (document.getElementById("your_name").value) {
            gameStartVScpu("normal");
        }
    };
    document.getElementsByClassName("cp_btn")[2].onclick = function(){
        if (document.getElementById("your_name").value == "") {
            document.getElementById("your_name").value = ran;
            gameStartVScpu("herd");
        } else if (document.getElementById("your_name").value) {
            gameStartVScpu("herd");
        }
    };
</script>
</html>